{% extends 'base.html.twig' %}

{% block title %}Hello RdvController!{% endblock %}

{% block body %}
<style>
    #page-rdv-detail {
      background-color: #f4f4f4;
      width: fit-content;
      margin: 0 auto;
      padding: 15px 50px;
    }

    #page-rdv-detail p {
      margin: 0;
    }

    .rdv-info-label {
      font-weight: 600;
    }

    #page-rdv-detail .rdv-info-value {
      margin-bottom: 1rem;
    }

    .rdv-btn {
      color: #000;
      text-decoration: none;
      background-color: #a7c7e7;
      padding: 5px 10px;
      border-radius: 3px;
    }

    .rdv-btn-container-medecin {
      margin: 40px 0
    }

    .rdv-btn-container-medecin, .rdv-btn-container-medecin-encours {
      display: flex;
      gap: 20px;
    }

    .ordonnance-title {
      text-decoration: underline;
    }

    .ordonnance-item {
      border-bottom: 1px solid #4c4c4c;
    }
</style>

<div id="page-rdv-detail">

{% if is_granted("ROLE_PATIENT") %}

  <h1>Votre Rendez-vous</h1>

  <div>
    <p class="rdv-info-label">Date du RDV</p>
    <p class="rdv-info-value">{{ rdv.dateRdv|date('Y-m-d') }}</p>

    <p class="rdv-info-label">Description du problème</p>
    <p class="rdv-info-value">{{ rdv.description }}</p>

    <p class="rdv-info-label">Medecin</p>
  {% if medecin %}
    <p class="rdv-info-value">{{ medecin.nom }} {{ medecin.prenom }}</p>
  {% else %}
    <p class="rdv-info-value">Le Rdv n'est pas encore pris en charge</p>
  {% endif %}
  </div>

  {% if rdv.statut == "en attente" %}
    <a class="rdv-btn" href="{{ path("app_annulerRdv", {"id" : rdv.id}) }}">Annuler RDV</a>
  {% endif %}

{% endif %}

{% if is_granted("ROLE_MEDECIN") %}
  <h1>Rendez-vous de <span class="font-weight-bold">{{ patient.nom }} {{ patient.prenom }}</span></h1>

  <div>
    <p class="rdv-info-label">Date du RDV</p>
    <p class="rdv-info-value">{{ rdv.dateRdv|date('Y-m-d') }}</p>

    <p class="rdv-info-label">Description du problème</p>
    <p class="rdv-info-value">{{ rdv.description }}</p>
  </div>

  <div class="rdv-btn-container-medecin">
{% if rdv.statut == "en attente" %}
    <a class="rdv-btn" href="{{ path("app_prendreEnChargeRdv", {"id" : rdv.id, "idMedecin" : user.id}) }}">Prendre en charge</a>
{% endif %}

{% if rdv.statut == "en cours" %}
    <div class="rdv-btn-container-medecin-encours">
      <a class="rdv-btn" href="{{ path("app_annulerRdv", {"id" : rdv.id}) }}">Annuler</a>
      <a class="rdv-btn" href="{{ path("app_terminerRdv", {"id" : rdv.id}) }}">Terminer</a>
    </div>
  
    <a class="rdv-btn" href="{{ path("app_creerOrdonnance", {"id" : rdv.id}) }}">Créer une ordonnance</a>
{% endif %}
  </div>
{% endif %}

  <h2 class="font-weight-bold ordonnance-title">Ordonnances</h2>

  <div id="liste-ordonnances">
  {% for ordonnance in ordonnances %}
    <div class="ordonnance-item">
      <p class="rdv-info-label">Date ordonnance délivrée</p>
      <p class="rdv-info-value">{{ ordonnance.dateDelivree|date('Y-m-d') }}</p>
      <p class="rdv-info-label">Médicamment</p>
      <p class="rdv-info-value">{{ ordonnance.medicament }}</p>
      <p class="rdv-info-label">Indications</p>
      <p class="rdv-info-value">{{ ordonnance.description }}</p>
    </div>
  {% endfor %}
  </div>

</div>

{% endblock %}
